body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Couleur de fond générale */
}

header {
    background-color: #000; /* Couleur de fond noire */
    color: #fff; /* Couleur du texte en blanc */
    text-align: center; /* Centre le contenu */
    padding: 20px 0; /* Espace autour du contenu */
}

.logo {
    width: 150px; /* Réduit la taille du logo */
    height: auto; /* Conserve les proportions du logo */
}

.center-content {
    text-align: center; /* Centre le texte dans la section */
    margin: 20px; /* Marge autour de la section */
    padding: 20px; /* Espace interne */
    background-color: #fff; /* Fond blanc pour la section */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

a {
    color: #007BFF; /* Couleur du lien */
    text-decoration: none; /* Enlève le soulignement */
}

a:hover {
    text-decoration: underline; /* Souligne le lien au survol */
}
